services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: todo
    ports:
      - '5434:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data
volumes:
  pgdata:
